/target/
!.mvn/wrapper/maven-wrapper.jar
server
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea
*.iws
*.iml
*.ipr

/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.DS_store
*.war

.env
# traefik cert
.cert.json
# Compose is symlinked, and may be different for diff situations
docker-compose.yml

.gradle/
