<server description="Authentication server ">

    <featureManager>
        <!-- https://www.ibm.com/support/knowledgecenter/en/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/rwlp_feat.html -->
        <feature>microProfile-3.2</feature>
        <feature>appSecurity-3.0</feature>
        <feature>jpaContainer-2.2</feature>


    </featureManager>

    <variable name="default.http.port" defaultValue="9080"/>
    <variable name="default.https.port" defaultValue="9443"/>

    <httpEndpoint httpPort="${default.http.port}"
                  httpsPort="${default.https.port}"
                  id="defaultHttpEndpoint"
                  host="*"/>

    <application location="auth-1.0.war" type="war" context-root="/">
    </application>


    <include location="server_ds_config.xml"/>

</server>
