MASTER_IP=10.10.10.10 (this shold be a local ip)
API_DOMAIN=bip.bop.example.coffe


# is on subnet 10.0.0.0/8
POSTGRES_IP="10.50.50.50"
APPSERVER_IP=10.50.50.60


POSTGRES_MASTER_PASSWORD="bipbopabababa"
POSTGRES_USER_USERNAME="posgres"
POSTGRES_USER_DB="user"
POSTGRES_USER_PASSWORD="bipbopabababa"
POSTGRES_PORT=5432

MAIL_PASSWORD=somepass
MAIL_USERNAME=somMail@somwhere.somthing
