<server description="Authentication server ">

    <featureManager>
        <!-- https://www.ibm.com/support/knowledgecenter/en/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/rwlp_feat.html -->

        <feature>microProfile-4.0</feature>
        <!--        <feature>jaxrs-2.1</feature>-->
        <!--        <feature>jsonp-1.1</feature>-->

        <!-- Auth stuff        -->
        <!--        <feature>cdi-2.0</feature>-->


    </featureManager>

    <variable name="default.http.port" defaultValue="80"/>
    <variable name="default.https.port" defaultValue="443"/>

    <httpEndpoint httpPort="${default.http.port}"
                  httpsPort="${default.https.port}"
                  id="defaultHttpEndpoint"
                  host="*">
    </httpEndpoint>
    <!--    <applicationManager autoExpand="true"/>-->

    <application location="frontend-1.0.war" type="war" context-root="/">
    </application>


    <!--    <include location="server_ds_config.xml"/>-->

</server>
